<p class="h3 my-3">Оплата и доставка</p>
<ul class="list-unstyled">
<li><p class="lead">Мы очень рады что вы решили сделать заказ у нас :) </p></li>
<li><p class="lead">Сделать заказ на нашем сайте очень просто:</p></li>
<ul>
  <li>Добавьте нужные позиции в корзину и оформите заказ</li>
  <li>После оформления заказа, на вашу почту придет письмо с реквизитами для оплаты</li>
  <li>После оплаты мы отправим заказ и пришлем вам номер для отслеживания посылки</li>
</ul>
</ul>
<em>Заказ отправляем Почтой России в течении 1-2 дней после оплаты<br>
Стоимость пересылки зависит от веса, примерно от 200 рублей, прибавляется к сумме заказа</em>
