<p>Здравствуте, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для изменения вашего пароля. Вы можете сделать это пройдя по ссылке ниже.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали ссылку для изменения пароля, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не может быть изменен пока вы не пройдете по ссылке и не введете новый пароль.</p>
